<link rel="stylesheet" href="../static/additem.css">
<section class="shop-lists-container">
    <header class="header-container">
      <h1 class="shop-lists-title">ShopLists</h1>
    </header>
    
    <main class="main-content">
      <h2 class="add-item-title">Add Item</h2>
      
      <form>
        <label for="linkInput" class="visually-hidden">Link</label>
        <input type="text" id="linkInput" class="input-field link-text" placeholder="Link" aria-label="Link">
        
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3f4d3ae560100fcf0b29c7d92acc3573a95009d9cb0e4fc32ed7ce36b834b89?placeholderIfAbsent=true&apiKey=977a46a0537f497d9aa3e28fe3eb7c72" alt="" class="upload-image" />
        
        <label for="itemNameInput" class="visually-hidden">Item Name</label>
        <input type="text" id="itemNameInput" class="input-field form-label" placeholder="Item Name" aria-label="Item Name">
        
        <label for="priceInput" class="form-label form-label-margin">Price</label>
        <input type="text" id="priceInput" class="input-field" aria-labelledby="priceInput">
        
        <label for="listSelect" class="form-label form-label-margin">List</label>
        <select id="listSelect" class="input-field" aria-labelledby="listSelect"></select>
        
        <div class="dropdown-field" role="combobox" aria-expanded="false" aria-haspopup="listbox" tabindex="0"></div>
      </form>
    </main>
  </section>