<section class="login-container">
    <a href="#" class="register-link">Register</a>
    <link rel="stylesheet" href="../static/login.css">
    <h1 class="login-title">Login</h1>
    <form>
      <label for="username" class="input-label">Username</label>
      <input type="text" id="username" class="input-field" aria-label="Enter your username">
      
      <label for="password" class="input-label">Password</label>
      <input type="password" id="password" class="input-field" aria-label="Enter your password">
      
      <button type="submit" class="login-button">Login</button>
    </form>
  </section>